{% extends "base.html" %}

{% block content %}
<h2 style="text-align: center;"><span style="font-family: Stencil;">Bands list</span></h2><br>
<br>
<style>
@font-face {
    font-family: Stensil;
    src: url(/static/fonts/font.ttf);
   }
</style>
<body style="text-align: left;"><span style="font-family: Stencil;">
    <form enctype="multipart/form-data" action="" method="post" style="text-align: right; padding-left: 850px; padding-right: 50px;">
        {{ mus_form.hidden_tag() }}
        <p>
            {% for dik in mus_form.songs %}
            {% for song in dik %}
            {% set pesnya = dik[song] %}
            {{ pesnya.label }}<br>
            {{ pesnya(class="form-control",  type="file", id="formFile") }}<br>
            {% for error in pesnya.errors %}
        <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
        {% endfor %}
        {% endfor %}
        {% endfor %}
        </p>
        <p>{{ mus_form.submit(type="submit", class="btn btn-outline-danger") }}</p>
        <div>{{ message }}</div>
    </form>
</span>
</body>
{% endblock %}