{% extends "base.html" %}

{% block content %}
<h2 style="text-align: center;"><span style="font-family: Stencil;">Bands list</span></h2><br>
<br>
<style>
.lefttext {margin-left:15%;}
.righttext {margin-right:15%;}
.both {margin-left:15%; margin-right:15%;}
.leftbutton {margin-left:45%; font-size:25px;}
.rightbutton {margin-right:70%; font-size:25px;}
</style>
<body style="text-align: left;"><span style="font-family: Stencil;">
    {% for item in bands%}
        <div class="col-md6 border rounded both">
            <br>
            <h1 style="text-align: left;" class="lefttext"><span style="font-family: Stencil;">{{item.name}}</span><a class="btn btn-outline-danger leftbutton" href="./group/{{item.id}}">Подробнее</a></h1>
            <h5  style="text-align: left;" class="lefttext"><span style="font-family: Stencil;">{{item.genre}}</span></h5>
        </div>
        <br>
    {% endfor %}
    {% if current_user.is_authenticated and current_user.is_admin %}
    <a class="btn btn-outline-danger rightbutton" href="./add_band">Добавить группу</a>
    {% endif %}
</span>
</body>
{% endblock %}
