{% extends "base.html" %}

{% block content %}
<h2 style="text-align: center;"><span style="font-family: Stencil;">Welcome, User.</span></h2><br>
<br>
<style>
@font-face {
    font-family: Stensil;
    src: url(/static/fonts/font.ttf);
   }
.leftpic {float: left;}
</style>
<body style="color: white; background-color: black;" alink="#cc0000" link="#990000" vlink="#ff6600">
<p style="text-align: left;">
    <img src="static\img/test_pic.jpg" class="col-md6 border rounded leftpic" hspace="25">
    На этом сайте вы можете найти информацию о многих рок- и метал-группах, примеры песен и даже гитарные разборы некоторых из них.<br>
    Это базовая страница, особо многого тут не увидите.<br>
    Здесь вы можете перейти на страницы групп, исполнителей, а авторизованные пользователи имеют доступ к гитарным разборам.
</p>
<p style="text-align: justify;">
    <a class="btn btn-outline-warning" href="./groups">Группы</a>
    <a class="btn btn-outline-warning" href="./musicians">Музыканты</a>
    {% if current_user.is_authenticated %}
    <a class="btn btn-outline-warning" href="./tutorials">Разборы</a>
    {% endif %}
</p>
</body>
{% endblock %}