{% extends "base.html" %}

{% block content %}
<h1 style="text-align: center;"><span style="font-family: Stencil;">{{band.name}}</span></h1>
<style>
@font-face {
    font-family: Stensil;
    src: url(/static/fonts/font.ttf);
   }
.leftpic {float: left;}
.both {margin-left:4%; margin-right:4%;}
</style>
<br>
<br>
<br>
<body style="color: white; background-color: black;" alink="#cc0000" link="#990000" vlink="#ff6600">
<p style="text-align: left;">
    <img src="/static/img/{{band.id}}_pic.jpg" alt="Пикчи нет, не подкрутили" class="col-md6 border rounded leftpic" hspace="25">
    Дата создания: {{band.created_date}}, дата распада: {{band.closed_date}}<br>
    Участники: <ui>
    {% for m in musicians %}
    <a href="/musician/{{m.id}}">{{m.name}} {{m.surname}},</a>
    {% endfor %}
    </ui><br>
    Альбомы: <ui>
    {% for a in albums %}
     <a href="/group/{{band.id}}/album/{{a.id}}">{{a.name}},</a>
    {% endfor %}
    </ui>
</p>
<p style="text-align: left;" class="both">
    {{band.short_bio}}
</p>
<br>
{% if current_user.is_authenticated and current_user.is_admin %}
<a class="btn btn-outline-danger leftbutton" href="./{{band.id}}/add_photo">Добавить изображение</a> <a class="btn btn-outline-warning leftbutton" href="/group/{{band.id}}">Отмена</a>
{% endif %}
<br>
<br>
<br>
{% if form and current_user.is_admin%}
<h4 style="text-align: right; padding-right:180px;"><span style="font-family: Stencil;">picture</span></h4>
    <form enctype="multipart/form-data" action="" method="post" style="text-align: right; padding-left: 850px; padding-right: 50px;">
        {{ form.hidden_tag() }}
        <p>
            {{ form.file.label }}<br>
            {{ form.file(class="form-control",  type="file", id="formFile") }}<br>
            {% for error in form.file.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-outline-danger") }}</p>
        <div>{{ message }}</div>
    </form>
{% endif %}
</body>
{% endblock %}