{% extends "single_band.html" %}

{% block photo %}
<h4 style="text-align: right; padding-right:180px;"><span style="font-family: Stencil;">picture</span></h4>
    <form action="" method="post" style="text-align: right; padding-left: 850px; padding-right: 50px;">
        {{ form.hidden_tag() }}
        <p>
            {{ form.file.label }}<br>
            {{ form.file(class="form-control",  type="file", id="formFile") }}<br>
            {% for error in form.file.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.band() }} {{ form.band.label }} {{ form.album() }} {{ form.album.label }} {{ form.musician() }} {{ form.musician.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-outline-danger") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}