{% extends "base.html" %}

{% block content %}
<h1 style="text-align: center;"><span style="font-family: Stencil;">{{album.name}}</span></h1>
<h3 style="text-align: center;"><span style="font-family: Stencil;"><a href="/group/{{band.id}}">{{band.name}}</a></span></h3>
<style>
.rightpic {float: left;}
.both {margin-left:4%; margin-right:4%;}
audio {height: 22px}
</style>
<br>
<br>
<br>
<body style="color: white; background-color: black;" alink="#cc0000" link="#990000" vlink="#ff6600">
<p style="text-align: left;">
  <img src="/static/img/{{album.id}}_alb.jpg" alt="Пикчи нет, не подкрутили" class="col-md6 border rounded both rightpic" hspace="25">
  Дата создания: {{album.created_date}}<br><br>
  <ui>
    {% for song in songs %}
    <span style="font-family: Stencil; font-size: 22px;">{{song.name}}</span>---<audio controls><source src="/static/audio/{{song.name}}.mp3"></audio><br>
    {% endfor %}
  </ui>
</p>
<br>
{% if current_user.is_authenticated %}
<a class="btn btn-outline-danger leftbutton" href="./{{album.id}}/add_photo">Добавить изображение</a> <a class="btn btn-outline-warning leftbutton" href="http://127.0.0.1:8000/group/{{band.id}}/album/{{album.id}}">Отмена</a>
{% endif %}
<br>
<br>
<br>
{% if form %}
<h4 style="text-align: right; padding-right:180px;"><span style="font-family: Stencil;">picture</span></h4>
    <form enctype="multipart/form-data" action="" method="post" style="text-align: right; padding-left: 850px; padding-right: 50px;">
        {{ form.hidden_tag() }}
        <p>
            {{ form.file.label }}<br>
            {{ form.file(class="form-control",  type="file", id="formFile") }}<br>
            {% for error in form.file.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-outline-danger") }}</p>
        <div>{{ message }}</div>
    </form>
{% endif %}
</body>
{% endblock %}